/* common shared styles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

    /* header section styles */
    .head-container {
        background-image:   linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(/resources/Banner\ Image.png);
        border-radius: 16px;
        background-size: cover;
        max-height: 600px;
        max-width: 1320px;
        margin: auto;
       

    }

    .h1 {
        color: #FFF;
        text-align: center;
        font-family: Merriweather;
        font-size: 32px;
        font-weight: 400;
        padding-top: 177px;
        margin-bottom: 16px;

    }

    .h2 {
        color: #FFF;
        text-align: center;
        font-family: Merriweather;
        font-size: 72px;
        font-weight: 900;
        padding: 0px 340px 277px 340px; 
        margin-top: 0px;

    }